<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-car"></i>
            Add new vehicle
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" name="createVehicle" (ngSubmit)="addVehicle()" >
                            <div class="form-group">
                                <label>Vendor</label>
                                <select class="form-control"
                                        name="vehicleVendors"
                                        (ngModelChange)="onModelChange($event)"
                                        [ngModel]="selectedVendor">
                                    <option *ngFor="let item of vendors" [ngValue]="item">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Model</label>
                                <select class="form-control"
                                        name="vendorModels"
                                        [ngModel]="model.model">
                                    <option *ngFor="let item of selectedVendor.models" [value]="item.name">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>VIN</label>
                                <input name="vehicleVIN" [(ngModel)]="model.vin" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label>Client</label>
                                <select name="client" [(ngModel)]="model.clientId" class="form-control">
                                    <option value="1">Client 1</option>
                                    <option value="2">Client 2</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>