<div class="card items">
    <ul class="item-list striped">
        <li class="item item-list-header hidden-sm-down">
            <div class="item-row">
                <div class="item-col fixed item-col-check">
                    <label class="item-check" id="select-all-items">
                        <input type="checkbox" class="checkbox">
                        <span></span>
                    </label>
                </div>
                <div class="item-col item-col-header">
                    <div>
                        <span translate>PARTS_MANAGER.ITEM.OVERVIEW.TABLE.IMAGE</span>
                    </div>
                </div>
                <div class="item-col item-col-header">
                    <div>
                        <span translate>PARTS_MANAGER.ITEM.OVERVIEW.TABLE.TITLE</span>
                    </div>
                </div>
                <div class="item-col item-col-header">
                    <div>
                        <span translate>PARTS_MANAGER.ITEM.OVERVIEW.TABLE.DESCRIPTION</span>
                    </div>
                </div>
                <div class="item-col item-col-header">
                    <div>
                        <span translate>PARTS_MANAGER.ITEM.OVERVIEW.TABLE.PRICE</span>
                    </div>
                </div>
                <!--<div class="item-col item-col-header fixed item-col-actions-dropdown"></div>-->
            </div>
        </li>
        <li class="item" *ngFor="let item of items">
            <div class="item-row">
                <div class="item-col fixed item-col-check">
                    <label class="item-check hidden-sm-down">
                        <input type="checkbox" class="checkbox">
                        <span></span>
                    </label>
                    <h4 class="item-title hidden-sm-up">
                        <a [routerLink]="[item.id]">
                            {{item.title}}
                        </a>
                    </h4>
                </div>
                <div class="item-col fixed item-col-img md" *ngIf="getItemFirstThumbUrl(item)">
                    <a [routerLink]="[item.id]">
                        <div class="item-img rounded"
                             [ngStyle]="{'background-image': 'url(' + getItemFirstThumbUrl(item) + ')'}">
                        </div>
                    </a>
                </div>
                <div class="item-col hidden-sm-down">
                    <h4 class="item-title">
                        <a [routerLink]="[item.id]">
                            {{item.title}}
                        </a>
                    </h4>
                </div>
                <div class="item-col">
                      <span>
                         {{item.description}}
                      </span>
                </div>
                <div class="item-col">
                      <span>
                         {{item.price}}
                      </span>
                </div>
            </div>
        </li>
    </ul>
</div>