<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <ng-container *ngFor="let navigationItem of navigationItems">
                <li *ngIf="navigationItem.enabled">
                    <a href="#">
                        <i class="fa fa-car"></i>
                        Vehicles
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="nav nav-second-level">
                        <li *ngFor="let route of navigationItem">
                            <a *ngIf="routeHasLink(route)" routerLink="{{ route.path }}" routerLinkActive="active">
                                {{ route.linkName }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ng-container>

            <!--<li>-->
            <!--<a href="#">-->
            <!--<i class="fa fa-users" aria-hidden="true"></i>-->
            <!--Clients-->
            <!--<i class="fa fa-caret-down"></i>-->
            <!--</a>-->
            <!--<ul class="nav nav-second-level">-->
            <!--<li>-->
            <!--<a href="">Add Client</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="">Clients list</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
        </ul>
    </div>
</div>