<div class="title-block">
    <h3 class="title float-left">
        {{"PARTS_MANAGER.ORDER.DETAIL.TITLE" | translate}}
        <span class="sparkline bar" data-type="bar"></span>
    </h3>
    <span class="text-right float-right">
        <button *ngIf="!isOrderClosed()"
                class="btn btn-sm btn-primary"
                (click)="updateOrderState()">
            {{getOrderActionButtonTranslationKey() | translate}}
        </button>
        <button *ngIf="!isOrderClosed()"
                class="btn btn-sm btn-danger"
                (click)="updateOrderState(true)"
                translate>
            PARTS_MANAGER.ORDER.DETAIL.ORDER_STATE.CLOSE
        </button>
        <span *ngIf="isOrderClosed()" translate>
            ORDER.STATE.CLOSED
        </span>
    </span>
</div>

<h4 translate>PARTS_MANAGER.ORDER.CREATE.ITEM.LIST</h4>
<item-list [items]="order.items"></item-list>